.App {
    text-align: center;

}


.app-logo {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-image: url("./img/logo.svg");
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}